@import "variables";

@mixin sectionText {
  font-size: $mainFontSize;
  font-family: $mainFontFamily, 'sans-serif';
  color: $mainTextColor;
  line-height: 20px;
}

@mixin sectionHeader {
  font-size: $headFontSize;
  font-family: $headFontFamily, 'sans-serif';
  line-height: 28px;
  font-weight: bold;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__menu {
    display: flex; 
  }
}

.header-padding {
  padding: 20px 0;
}

.header__item {
  margin-left: 30px;
  .header__link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: $headFontFamily, 'sans-serif';
    font-weight: bold;
    &:hover {
      color: $mainTextColor;
    }
  }
}

.content-type {
  display: flex;
  background-color: $mainBgColor;
  padding: 20px 30px;
  .content-type__info {
    margin-left: 22px;
    .content-type__title {
      font-size: 21px;
      font-family: $headFontFamily, 'sans-serif';
      font-weight: bold;
      line-height: 28px;
    }
    .content-type__text {
      @include sectionText;
      margin: 5px 0;
    }
  }
}


.more-btn {
  background: linear-gradient(to bottom, $btnBgColor, $btnShadowColor);
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 3px;
  font-size: 13px;
  font-family: $headFontFamily, 'sans-serif';
  cursor: pointer;
  &:hover {
    background: linear-gradient(to top, $btnBgColor, $btnShadowColor);
  }
}

.content-section__text {
  @include sectionText;
}

.content-section__title {
  @include sectionHeader;
}

.advantages {
  display: flex;
  justify-content: space-between;
  .advantages__item {
    width: 22%;
    display: flex;
    align-items: center;
  }
  .advantages__text {
    font-size: 14px;
    font-style: italic;
  }
  .advantages__img {
    margin-right: 10px;
  }
}

.section-margin {
  margin: 20px 0;
  &:last-child {
    margin: 20px 0 150px 0;
  }
}

.advantages-margin {
  margin: 40px 0;
}
