$mainTextColor: #8d8d8d;
$mainBgColor: #f0f0f0;
$btnBgColor: #da4137;
$btnShadowColor: #b4362e;
$mainFontFamily: 'Times New Roman';
$headFontFamily: 'Tahoma';
$mainFontSize: 14px;
$headFontSize: 18px;
